/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container{
	align-items: center;
	justify-content: center;
	display: flex;
}

header{
	text-align: center;
	position: sticky;
	top:1px;
	background-color:white;
}

@keyframes navigation{
	from{
		color:lightgray;
		background-color:white;
	}
	to{
		background-color:lightgray;
		color:white;
	}
}

nav a:hover{
	animation: navigation 1s 0s infinite alternate;
}

nav{
	color:lightgray;
	text-align: center;
	max-height: 200px;
	padding:1em .5em;
}
nav>*{
	display: inline-block;
	box-sizing: border-box;
}
nav a{
	color:lightgray;
	text-decoration: none;
	margin:0 2.5em;
	padding:1em 0;
}

header img:hover{
	border:1px lightgray solid;
	border-radius: 10px;
	box-shadow: inset gray 1px 1px 5px;
}

#central{
	width: 100%;
	max-height: 400px;
	margin-top:1em;
}
#central section{
	text-align:center;
	font-size:24pt;
	font-family: 'Merriweather', serif;
	margin:0 2em;
}
section button{
	margin-top:2em;
	font-size: 12pt;
}

#main{
	width:100%;
	text-align: center;
}
#main img{
	margin:auto;
}
#main section{
	text-align: left;
	display: inline-block;
}
#line1 section{
	width: 49%;
	padding:1em 0;
}
#line2 section{
	width: 32%;
	padding: 1em 0;
}
body{
	padding:0 1em;
	width:1200px;
	margin:auto;
}

footer{
	margin-top: 3em;
	text-align: center;
}
hr{
	margin:1em 0;
}

@media(max-width:800px){
	header{
		display:flex;
		flex-direction:column-reverse;
		margin:auto;
		width:800px;
		text-align: center;
	}
	body{
		width:800px;
		padding:0;
	}
	img{
		max-width: 800px;
	}
	nav{
		display:flex;
	}
	.container{
		padding:1em;
	}
	.container section{
		padding:.5em;
	}
}

@media(max-width:500px){
	header nav a{
		display:none;
	}
	header nav.show{
		display:flex;
		flex-direction: column;
		padding:1em 0;
		max-height: 350px;
	}
	header nav.show a{
		display:block;
		order:1;
		background-color:white;
		width: 500px;
		border-bottom: solid black 1px;
		margin:0;
	}
	header img{
		margin:auto;
		padding:.5em;
		margin-top:1em;
	}
	header{
		width:500px;
	}
	header.show{
		height:350px;
		flex-direction: column-reverse;
		align-items: flex-start;
		padding-top: 1em;
		margin-bottom:35px;
	}
	.show img{
		margin-top:45px;
	}
	#winkyface{
		width: 500px;
	}
	img{
		max-width: 500px;
	}
	#central img{
		display: none;
	}
	#central{
		width:500px;
		margin:auto;
	}
	#central section{
		font-size: 50pt;
	}
	body{
		padding:0;
	}
	#main section.container{
		display:flex;
	}
	hr{
		width:100%;
	}
	#because{
		cursor: pointer;
	}

	#line1,#line2{
		display:flex;
		flex-direction: column;
	}
	#main section{
		display: block;
	}
	#line1 section,#line2 section{
		width:95%;
	}
}